:root {
    --blue: #6943FF;
    --whitegray: #F4F4F4;
    --title: #353535;
    --paragraph: #5A537B;
    --convert: #3D3D3D;
    --border: #B295FF;
}

body {
    margin: 0;
    text-align: center;
    font-family: "Inter", sans-serif;
}

h1 {
    color: white;
    font-style: Inter;
    padding-top: 20px;
}

#container {
    background-color: var(--whitegray);
}

.top-section{
    background-color: var(--blue);
    padding-bottom: 15px
}

input,
button {
  display: block;
  margin-top: 10px; /* Optionnel : pour ajouter un peu d'espace entre eux */
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  max-width: 150px;
}

#btn{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#input-el {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    font-style: bold;
    font-size: xxx-large;
    background-color: var(--blue);
    border: 1px solid var(--border)
}

.bottom-section{
    background-color: white;
    padding: 25px;
}